* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/lake.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    translate: 0 55%;
}